<div class="header" [formGroup]="formGroup">
  <div class="breadcrumb-title">
    <ng-container
      *ngFor="
        let crumb of breadcrumbs;
        let firstItem = first;
        let lastItem = last
      "
    >
      <a [class.has-link]="crumb.routePath" [routerLink]="crumb.routePath">{{
        crumb.title
      }}</a>
      <span *ngIf="!lastItem"><i class="fas fa-chevron-right"></i></span>
    </ng-container>
  </div>

  <input
    *ngIf="wantsFilter"
    type="text"
    placeholder="Find Delivery..."
    formControlName="filter"
    data-cy="filter"
  />

  <button
    *ngIf="wantsNewBtn"
    class="default-btn"
    [class.pull-left]="!wantsFilter"
    routerLink="/deliveries/edit/new"
  >
    <i class="fas fa-plus"></i>
    New Delivery
  </button>
</div>
